<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Select your choice</h1>
		<ul>
			<li><a href="all_data">Show all data</a></li>
			<li><a href="query_1">Baseball Leagues</a></li>
			<li><a href="query_2">Women leagues</a></li>
			<li><a href="query_3">Hockey Leagues</a></li>
			<li><a href="query_4">Find all leagues where sport is something OTHER THAN football</a></li>
			<li><a href="query_5">Conference leagues</a></li>
			<li><a href="query_6">Atlantic region leagues</a></li>
			<li><a href="query_7">Teams based in Dallas </a></li>
			<li><a href="query_8">Teams named the Raptors</a></li>
			<li><a href="query_9">Teams whose location includes "City"</a></li>
			<li><a href="query_10">Teams whose names begin with "T"</a></li>
			<li><a href="query_11">All teams ordered alphabetically by location</a></li>
			<li><a href="query_12">All teams, ordered by team name in reverse alphabetical order</a></li>
			<li><a href="query_13">Players with last name "Cooper"</a></li>
			<li><a href="query_14">Players with first name "Joshua"</a></li>
			<li><a href="query_15">Players with last name "Cooper" EXCEPT FOR "Joshua"</a></li>
			<li><a href="query_16">Players with first name "Alexander" OR first name "Wyatt"</a></li>

		</ul>

	</body>
</html>