<!DOCTYPE html>
<html>
	<head>
		<title>Sports Leagues</title>
	</head>
	<body>
		<h1>Sports ORM I</h1>
		<ul>
			<li><a href="all_data">Show all data</a></li>
			<li><a href="query_1">Baseball Leagues</a></li>
			<li><a href="query_2">Women leagues</a></li>
			<li><a href="query_3">Hockey Leagues</a></li>
			<li><a href="query_4">Find all leagues where sport is something OTHER THAN football</a></li>
			<li><a href="query_5">Conference leagues</a></li>
			<li><a href="query_6">Atlantic region leagues</a></li>
			<li><a href="query_7">Teams based in Dallas </a></li>
			<li><a href="query_8">Teams named the Raptors</a></li>
			<li><a href="query_9">Teams whose location includes "City"</a></li>
			<li><a href="query_10">Teams whose names begin with "T"</a></li>
			<li><a href="query_11">All teams ordered alphabetically by location</a></li>
			<li><a href="query_12">All teams, ordered by team name in reverse alphabetical order</a></li>
			<li><a href="query_13">Players with last name "Cooper"</a></li>
			<li><a href="query_14">Players with first name "Joshua"</a></li>
			<li><a href="query_15">Players with last name "Cooper" EXCEPT FOR "Joshua"</a></li>
			<li><a href="query_16">Players with first name "Alexander" OR first name "Wyatt"</a></li>
		</ul>
		<h1>Sports ORM II</h1>
		<ul>
			<li><a href="query_17">All teams in the "Atlantic Soccer Conference"</a></li>
			<li><a href="query_18">Currents players on the Boston Penguins</a></li>
			<li><a href="query_19">Currents players in the "International Collegiate Baseball Conference"</a></li>
			<li><a href="query_20">Currents players in the "American Conference of Amateur Football with last name "Lopez"</a></li>
			<li><a href="query_21">All football players</a></li>
			<li><a href="query_22">All teams with a current player named "Sophia"</a></li>
			<li><a href="query_23">All leagues with a current player named "Sophia"</a></li>
			<li><a href="query_24">Players with the last name "Flores" who DOESN'T currently play for the Washington Roughriders</a></li>
			<li><a href="query_25">Teams, past and present, that Samuel Evans has played with</a></li>
			<li><a href="query_26">Players, past and present, with the Manitoba Tiger-Cats</a></li>
			<li><a href="query_27">All players who were formerly (but aren't currently) with the Wichita Vikings</a></li>
			<li><a href="query_28">Every team that Jacob Gray played for before he joined the Oregon Colts</a></li>
			<li><a href="query_29">Everyone named "Joshua" who has ever played in the Atlantic Federation of Amateur Baseball Players</a></li>
			<li><a href="query_30">All teams that have had 12 or more players, past and present</a></li>
			<li><a href="query_31">Show all players, sorted by the number of teams they've played for</a></li>
		</ul>
	</body>
</html>